:root {
    --main-text-color: #757575;
    --title-color: #212121;
    --active-color: #2196F3;
    --background-color: #F5F4FA;
    --background: #2F303A;
    --color-white: #FFFFFF;
    --border-color: #ECECEC;
    --border-card: #EEEEEE;
    --icon-main-color: #afb1b8;
    --transition-d-tf: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* GLOBAL PAGE STYLES */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    letter-spacing: 0.03em;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    font-family: inherit;
    cursor: pointer
}
address {
    font-style: normal;
}
.link {
    text-decoration: none;
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    /* outline: 2px solid red; */
}

/* HEADER */
.header {
    background: var(--color-white);
    border-bottom: 1px solid var(--border-color);
}
.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--active-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-header {
    color: var(--title-color);
}

.header-nav {
    display: flex;
    align-items: center;
    
}


.header-nav-list {
    display: flex;
    margin-left: 93px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.header-nav-item:not(:last-child) {
    margin-right: 50px;
}
.header-nav-item .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-color);
}
.header-nav .link {
    transition: color var(--transition-d-tf);
}
.header-nav .link:hover,
.header-nav .link:focus {
    color: var(--active-color);
}
.header-nav .link.current{
    position: relative;
    color: var(--active-color);
}

.link.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: var(--active-color);
    border-radius: 2px;
    transform: scaleX(1.2);

}
.header-contacts {
    display: flex;
    margin-left: auto;
}
.header-contacts-item {}
.header-contacts-item:not(:last-child) {
    margin-right: 50px;
}
.header-contacts-icon {
    height: 100%;
    fill: currentColor;
}
.header-contacts-item .link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 10px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.header-contacts-item .link {
    transition: color var(--transition-d-tf);
}
.header-contacts .link:hover ,
.header-contacts .link:focus {
    color: var(--active-color);
}

/* MAIN */
/* HERO SECTION */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.hero-section {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bgimage.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
}
.hero-title {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
}

.hero-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 32px;
    text-align: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--color-white);
    background-color: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;

    transition: background-color var(--transition-d-tf);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188CE8;
}
/* features */
.features {
    padding-bottom: 0;
}

.features-title {}

.features-list {
    display: flex;
    gap: 30px;
}

.features-item {
    width: 270px;
}

.features-decor {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    height: 120px;
    background: var(--background-color);
    border-radius: 4px;
}

.features-icon {}

.features-subtitle {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-color);

    margin-bottom: 10px;
}

.features-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-text-color);
}

/* What we do? */

.works {}

.works-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-color);
    margin-bottom: 50px;
}

.works-list {
    display: flex;
    gap: 30px;
}

.works-item {
    position: relative;
}
.work-text {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
}

/* OUR TEAM */

.team {
    background: var(--background-color);
}

.team-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-color);

    margin-bottom: 50px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    display: inline-block;
    background: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--title-color);

    margin-top: 30px;
    margin-bottom: 10px;
}

.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 16px;
}
.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-soc-item {
    width: 44px;
    height: 44px;
    
    margin-bottom: 30px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-main-color);
    
    transition: background-color var(--transition-d-tf);
}

.team-soc-icon {
    transition: fill var(--transition-d-tf);
    fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--active-color);
}
.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
    fill: var(--color-white);
}


/* CLIENTS */

.clients {
    background: var(--color-white);
}

.clients-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-item {
    display: block;
}
.clients-link {
    width: 170px;
    height: 92px;
    display: flex;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: var(--icon-main-color);

    transition: border-color var(--transition-d-tf);
}

.client-logo {
    fill: currentColor;
    transition: fill var(--transition-d-tf);
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--active-color);
}

.clients-link:hover .client-logo,
.clients-link:focus .client-logo {
    fill: var(--active-color);
}
/* FOOTER AND ADDRESS */

.footer {
    padding: 60px 0;
    background: var(--background);
}
.address {}
.footer .logo {
    display: inline-block;
}
.logo-footer {
    color: var(--color-white);
}

.footer-address {}

.address-list {}

.address-item:first-child {
    margin-top: 20px;
}
.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-link-map,
.address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-white);

    transition: color var(--transition-d-tf);
}
.address-link {
    color: rgba(255, 255, 255, 0.6);
}

.address-link-map:hover,
.address-link-map:focus,
.address-link:hover,
.address-link:focus {
    color: var(--active-color);
}

/* FOOTER SOCIALS LIST */
.ad-soc {
    position: relative;
    display: flex;
    align-items: baseline;
}

.footer-socials {
    margin-left: 70px;
}
.footer-soc-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 20px;
}
.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-soc-item {
    display: block;
    width: 44px;
    height: 44px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    transition: background-color var(--transition-d-tf);
}

.footer-soc-icon {
    fill: currentColor;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--active-color);
}

.footer-singup {
    display: block;
    margin-left: auto;
}

.footer-form-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);

    margin-bottom: 20px;
}

/* FOOTER FORM */
.footer-form {
    display: flex;
}

.footer-input {
    display: block;
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    outline: transparent;
    color: var(--active-color);

    transition: border-color var(--transition-d-tf);
}
.footer-input:focus {
    border-color: var(--color-white);
}
.footer-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
    display: flex;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    justify-content: center;
    align-items: center;
    background-color: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-white);

    transition: background-color var(--transition-d-tf);
}
.footer-btn:hover,
.footer-btn:focus {
    background-color: #188CE8;
}
.footer-btn-icon {
    margin-left: 10px;
    fill: var(--color-white);
}

/* BACKDROP */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity var(--transition-d-tf), visibility var(--transition-d-tf);
}

.modal {
    min-width: 528px;
    min-height: 550px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-d-tf);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}
.modal-btn-close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 8px;
    top: 8px;

    transition: fill var(--transition-d-tf);
}
.modal-btn-close:hover,
.modal-btn-close:focus {
    fill: var(--active-color);
}
.modal-btn-icon {}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* MODAL FORM */
.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.modal-field {
    margin-bottom: 10px;
    width: 100%;
}
.modal-field:nth-of-type(4n) {
    margin-bottom: 20px;
}
.input-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-text-color);
}
.modal-input-icon {
    position: relative;
    margin-top: 4px;
}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 40px;
    outline: transparent;

    transition: border-color var(--transition-d-tf)
}

.modal-input:focus {
    border-color: var(--active-color);
}
.modal-input:focus + .modal-icon {
    fill: var(--active-color);
}
.modal-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill var(--transition-d-tf);
}

.modal-comment {
    display: block;
    margin-top: 4px;
    padding: 16px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    resize: none;

    transition: border-color var(--transition-d-tf);
}
.modal-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-comment:focus {
    border-color: var(--active-color);
}

/* CHECKBOX */
.modal-field-check {
    display: flex;
    justify-content: center;
}

.check-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.check-label span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    border-radius: 2px;
    margin-right: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;

    transition: fill var(--transition-d-tf),
    background-color var(--transition-d-tf),
    border var(--transition-d-tf);
}
.modal-check:checked + .check-label span {
    fill: var(--color-white);
    background-color: var(--active-color);
    border: none;
}
.contract-link {
    color: var(--active-color);
    margin-left: 5px;
}

.modal-btn-send {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-white);
    background-color: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-top: 30px;

    transition: background-color var(--transition-d-tf);
}
.modal-btn-send:hover,
.modal-btn-send:focus {
    background-color: #188CE8;
}

/* PORTFOLIO */
.portfolio {
    background: var(--color-white);
}
.portfolio-title {}

/* FILTERS */

.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filters-item {}
.filters-item:not(:last-child) {
    margin-right: 8px;
}
.filters-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: var(--title-color);
    background: var(--background-color);
    border-radius: 4px;
    border-color: transparent;

    padding: 6px 25px;

    transition: color var(--transition-d-tf),
    background-color var(--transition-d-tf),
    box-shadow var(--transition-d-tf);
}
.filters-btn:hover,
.filters-btn:focus {
    color: var(--color-white);
    background-color: var(--active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* CARDS */

.cards-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.card-item {
    width: 370px;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.card-thumb {
    display: flex;
    position: relative;
    overflow: hidden;
}

.card-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform var(--transition-d-tf);

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--color-white);
    background-color: rgba(33, 150, 243, 0.9);
}

.card-link{
    display: block;
    text-decoration: none;
    transition: box-shadow var(--transition-d-tf);
}
.card-link:hover,
.card-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-link:hover .card-text,
.card-link:focus .card-text {
    transform: translateY(0);
}

.example-title {
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.example-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--main-text-color);
}
.card-name {
    padding: 20px 24px;
    border-left: 1px solid var(--border-card);
    border-right: 1px solid var(--border-card);
    border-bottom: 1px solid var(--border-card);
}