/* FOOTER AND ADDRESS */

.footer {
    padding: 60px 0;
    background: var(--background);
}

.address {}

.footer .logo {
    display: inline-block;
}

.logo-footer {
    color: var(--color-white);
}

.footer-address {}

.address-list {}

.address-item:first-child {
    margin-top: 20px;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-link-map,
.address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-white);

    transition: color var(--transition-d-tf);
}

.address-link {
    color: rgba(255, 255, 255, 0.6);
}

.address-link-map:hover,
.address-link-map:focus,
.address-link:hover,
.address-link:focus {
    color: var(--active-color);
}